@import 'col-font';

html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}

h4 {
    color: white;
}

body {
    background-color: $bg-body-col;
}

section {
    background-color: $tab1-color;
    color: white;
    padding: 5px;
}

#pic-sec {
    background-color: #231F18;
}
